/* Mobile & Tablet */
@media (max-width: 1023px) {
    :root {
        --navbar-height: 0;
        --header-height: 68px;
    }

    /* Ẩn các đối tượng trên cả mobile và tablet  */
    .hide-on-mobile-tablet {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

    /* Những cái cần ẩn trên tablet */
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {

    /* Những cái cần ẩn trên tablet */
    .hide-on-mobile {
        display: none;
    }
}